:root {
  --button-background-color: transparent;
  --button-font-color: #4a4a4a;
  --button-border-color: #4a4a4a;
  --button-background-color-hover: white;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
.btn {
  background-color: var(--button-background-color);
  border-radius: 0px;
  border: 1px solid var(--button-border-color);
  color: var(--button-font-color);
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 1em var(--base-spacing);
  text-align: center;
  text-decoration: none;
  margin-bottom: var(--small-spacing);
  display: block;
  width: 100%;

  &:hover {
    background-color: var(--button-background-color-hover);
    color: var(--blue);
  }

  &:focus {
    /* border-color: #ccc; */
    outline: none;
  }

  &--small {
    padding: calc(var(--small-spacing) / 2) calc(var(--base-spacing) / 2);
  }


}